div[class^="square"] {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: 3px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}
