div[class^="square"] {
  height: 40px;
  width: 40px;
  background-color: red;
  margin: 1px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.speaker {
  width: 300px;
  height: 200px;
  color: black;
  background-color: pink;
}

.scores-container {
  width: 300px;
  height: 100px;
}
